################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/xyz_grapher/bin/Debug
/xyz_grapher/obj/Debug
/xyz_grapher/bin/Release
/xyz_grapher/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
/xyz_grapher/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/xyz_grapher/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/xyz_grapher/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/xyz_grapher/obj/Release/xyz_grapher.csproj.FileListAbsolute.txt
/xyz_grapher/obj/Release/xyz_grapher.csproj.GenerateResource.Cache
/xyz_grapher/obj/Release/xyz_grapher.exe
/xyz_grapher/obj/Release/xyz_grapher.Form1.resources
/xyz_grapher/obj/Release/xyz_grapher.Properties.Resources.resources
/.vs/xyz_grapher/v14
/xyz_grapher/obj/Release
